@import "../sass/_mixinlib.scss";

/* ==== FORMS ==== */
label{
 @if $label-above == true {
	display:block;
	}
	@else if $label-above == false {
		display:inline-block;
	}
 cursor: pointer;
 font-weight: bold;
 margin-bottom: 0.3em;
}

/* Text inputs */
input[type="text"], 
input[type="password"], 
input[type="date"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="month"], 
input[type="week"], 
input[type="email"], 
input[type="number"], 
input[type="search"], 
input[type="tel"], 
input[type="time"], 
input[type="url"], 
textarea {
	outline: none;
	@if $label-above == true {
	display:block;
	}
	@else if $label-above == false {
		display:inline-block;
	}
	@inclue rem('font-size',14px);
	color: #888;
	width:100%;
	@include rem('margin-bottom',16px);
	@include rem('padding',8px);
	border: 1px solid #dedede;
	background-color: #fff;
	box-shadow: 0 1px 2px #eee inset;
	transition:    all 0.25s ease-in-out;
	-webkit-transition:  all 0.25s ease-in-out;
	-moz-transition:   all 0.25s ease-in-out;
	@include border-radius(3px);
	outline: none;
}
input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="date"]:focus, 
input[type="datetime"]:focus, 
input[type="datetime-local"]:focus, 
input[type="month"]:focus, 
input[type="week"]:focus, 
input[type="email"]:focus, 
input[type="number"]:focus, 
input[type="search"]:focus, 
input[type="tel"]:focus, 
input[type="time"]:focus, 
input[type="url"]:focus, 
textarea:focus{
	border: 1px solid #51a7e8;
	box-shadow: 0 0 4px #51afff, 
				0 1px 2px #eee inset; }

.mooi-label {
	width:$label-width;
}
.mooi-input {
	
	@if $input-width == 0 {
		width:100%;
	}
	@else {width:$input-width;}
	
	outline: none;
	@if $label-above == true {
	display:block;
	}
	@else if $label-above == false {
		display:inline-block;
	}
	@inclue rem('font-size',14px);
	color: #888;
	@include rem('margin-bottom',16px);
	@include rem('padding',8px);
	border: 1px solid #dedede;
	background-color: #fff;
	box-shadow: 0 1px 2px #eee inset;
	transition:    all 0.25s ease-in-out;
	-webkit-transition:  all 0.25s ease-in-out;
	-moz-transition:   all 0.25s ease-in-out;
	@include border-radius(3px);
	outline: none;
	
}
.mooi-input:focus {
	border: 1px solid #51a7e8;
	box-shadow: 0 0 4px #51afff, 
				0 1px 2px #eee inset;
}