// /* Tables for Mooi */

.mooi-table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
	@include rem('margin',5px 0);
}

.mooi-table th {
	font-weight:bold;
}
.mooi-table td,
.mooi-table th {
    border-left: 1px solid #cbcbcb;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    @include rem('padding', 6px 12px); /* cell padding */
	background-color:#eee;
}
.mooi-table td:first-child,
.mooi-table th:first-child {
    border-left-width: 0;
}

.mooi-table thead {
    background: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}

/*
striping:
   even - #fff (white)
   odd  - #f2f2f2 (light gray)
*/
.mooi-table td {
    background-color: transparent;
}
.mooi-table-odd td {
    background-color: #f2fdff;
}

/* nth-child selector for modern browsers */
.mooi-table-zebra tr:nth-child(2n-1) td {
    background-color: #f2fdff;
}

/* Borders All Table */
.mooi-table-borders-all td, .mooi-table-borders-all th {
    border-bottom: 1px solid #cbcbcb;
}
.mooi-table-border-all tbody > tr:last-child td,
.mooi-table-borders-horizontal tbody > tr:last-child td {
    border-bottom-width: 0;
}


/* Horizontal Borders Table */

.mooi-table-borders-horizontal td,
.mooi-table-borders-horizontal th {
    border-width: 0 0 1px 0;
    border-bottom: 1px solid #cbcbcb;
}
.mooi-table-borders-horizontal tbody > tr:last-child td {
    border-bottom-width: 0;
}
