// /* Variables for Mooi */

$max-page-width: 1280px; // /* Sets the maximum width for the web page */

// /* Set Font Sizes for Body and Headings */

$default-fontSize: 16px; /*16px*/
$h1Size: 50px;
$h2Size: 44px;
$h3Size: 38px;
$h4Size: 32px;
$h5Size: 26px;
$h6Size: 20px;

// /* Set Font Styles */
$body-font: "Museo Sans Rounded 300", Arial, 'Helvetica Neue', Helvetica, sans-serif;
$header-font: "Museo Sans Rounded 300", Arial, 'Helvetica Neue', Helvetica, sans-serif ;

$fontColor: #111 ;
$linkColor: #111 ;
$linkHover: #00F ;

$input-width: 250px;