/* CSS Document */
@import "../sass/_reset.scss"; 		// /* Do Not Remove */
@import "_vars.scss";				// /* Do Not Remove */
@import "../sass/_mixinlib.scss"; 	// /* Do Not Remove */
@import "../sass/_layout.scss"; 	// /* Do Not Remove */
@import "../sass/_images.scss";
@import "../sass/_forms.scss";
@import "../sass/_buttons.scss";
@import "../sass/_tables.scss";
@import "../sass/_typography.scss";
@import "../sass/_menus.scss";


.example-col {
	background-color:#CCC;
	@include border-radius(3px);
	text-align:center;
	padding:0.5rem 0;
	margin:0.25rem 0;
}
.logo {
	float:left;
	width:100%;
	max-width:168px;
	height:auto; }
.mooi-header {
	@include rem('padding',5px 0 15px 0);
	border-bottom:1px solid #111;
	background-color:#fff; 
}
.big-intro {
	@include fontSize(110px);
	@include rem('line-height',140px);
	@include rem('margin',150px 0 0 0);
	@include rem('padding',0 0 150px 0);
	border-bottom:1px solid #111;
}
.intro {
	@include fontSize(20px);
	@include rem('margin',30px 0);
}
.scroll {max-width:300px;display:block;margin-right:auto;margin-left:auto;@include rem('margin-bottom',10px);}



